composer.phar
*.deb
debian/usr
debian/DEBIAN/control
debian/.debhelper/
debian/composer-debian.postrm.debhelper
debian/composer-debian.substvars
debian/composer-debian/
debian/debhelper-build-stamp
debian/files
debian/composer-debian.debhelper.log
